	<div class="blankSeparator"></div>

	

	<div class="centerContainer">
		<div id="sidebarContainer" class="fl">
			<div class="sidebarItem">
				<div class="sidebarHeader">
					<h3>Filter by project type</h3>
				</div>
				<ul class="arrowList">
					<li class="activeSidebarItem"><a href="#">All types</a></li>
					<li><a href="#">Type 1</a></li>
					<li><a href="#">Type 2</a></li>
					<li><a href="#">Type 3</a></li>
					<li class="noBottomBorder"><a href="#">Type 4</a></li>
				</ul>
			</div>
		</div> <!-- end sidebarContainer -->


		<div id="mainContainer" class="fr">
			<img src="img/galleryPageImg.png" alt="Gallery">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sunt earum deserunt beatae veniam laborum architecto culpa, reiciendis dicta quam, iusto et nesciunt. Quaerat saepe consectetur esse similique deleniti eveniet!</p>
			
			<div class="sepContainer"></div>

			<ul id="galleryList">
				<li>
					<h3>Web design</h3>
					<div class="galleryImgContainer">
						<img src="img/galleryImg.png" alt="">
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis perferendis magni officiis eius quos harum tenetur, dolores reiciendis quae repellat, aut. Aspernatur ratione doloribus placeat earum dolorem, laboriosam blanditiis debitis.</p>
					<em>[+] click on the image to see more details</em>
				</li>
				<li>
					<h3>Web development</h3>
					<div class="galleryImgContainer">
						<img src="img/galleryImg.png" alt="">
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse pariatur provident aperiam fugiat adipisci corrupti nesciunt sint minus quod, magnam, doloribus sequi, accusantium consequuntur inventore culpa earum laborum. Fugit, illo.</p>
					<em>[+] click on the image to see more details</em>
				</li>
				<li>
					<h3>Web hosting</h3>
					<div class="galleryImgContainer">
						<img src="img/galleryImg.png" alt="">
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perspiciatis voluptas dolores doloremque assumenda libero numquam? Praesentium distinctio vero, pariatur tempore voluptas dicta magnam assumenda tenetur asperiores deserunt alias, culpa.</p>
					<em>[+] click on the image to see more details</em>
				</li>
			</ul>
		</div> <!-- end mainContainer -->
	</div> <!-- end centerContainer -->

	<div class="blankSeparator"></div>
	