

<div id="sliderContainer">
	<div class="centerContainer">
		<div id="sliderBtnPrev">
			<img src="img/btnPrev.png" alt="Previous">
		</div>
		<div id="mainSlider">
			<ul>
				<li>
					<img src="img/sliderImg1.png" alt="Slide" class="slideImg fl">
					<h1>{{ sliderList.Header }}</h1>
					<p class="slideParagraph">{{ sliderList.Body }}</p>
					<div class="blankSeparator"><!-- --></div>
					<a href="#" class="darkBtnImg fl">Buy it now <img src="img/darkButtonImg.png" alt="Arrow" /></a>
					<p class="additionalOptions fl"> or <a href="#">Find out more</a></p>
				</li>
				<li>
					<img src="img/sliderImg1.png" alt="Slide" class="slideImg fl">
					<h1></h1>
					<p class="slideParagraph"></p>
					<div class="blankSeparator"><!-- --></div>
					<a href="#" class="darkBtnImg fl">Buy it now <img src="img/darkButtonImg.png" alt="Arrow" /></a>
					<p class="additionalOptions fl"> or <a href="#">Find out more</a></p>
				</li>
				<li>
					<img src="img/sliderImg1.png" alt="Slide" class="slideImg fl">
					<h1></h1>
					<p class="slideParagraph"></p>
					<div class="blankSeparator"><!-- --></div>
					<a href="#" class="darkBtnImg fl">Buy it now <img src="img/darkButtonImg.png" alt="Arrow" /></a>
					<p class="additionalOptions fl"> or <a href="#">Find out more</a></p>
				</li>
			</ul>
		</div>
		<div id="sliderBtnNext">
			<img src="img/btnNext.png" alt="Next">
		</div>
	</div> <!-- end centerContainer -->
</div> <!-- end sliderContainer -->
<div class="blankSeparator"></div>

<div id="servicesContainer">
	<div class="centerContainer">
		<div id="col1" class="oneThirdCol">
			<img src="img/service1BW.png" alt="" class="fl">
			<h3>Tailored to your needs</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique facilis aliquid rerum vel, corporis. Reprehenderit atque nisi sequi repellat aut recusandae beatae, debitis nam totam temporibus, praesentium adipisci deleniti aliquid!</p>
			<ul class="homePageArrowList">
				<li><a href="#">Service 1</a></li>
				<li><a href="#">Service 2</a></li>
				<li><a href="#">Service 3</a></li>
			</ul>
		</div> <!-- end oneThirdCol -->
		<div id="col2" class="oneThirdCol">
			<img src="img/service2BW.png" alt="" class="fl">
			<h3>Awesome document handling</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil perferendis, labore, similique iure numquam laborum rerum quidem amet dolore, animi non asperiores odio quis. Dolores alias iure, veritatis autem sequi?</p>
			<ul class="homePageArrowList">
				<li><a href="#">Service 1</a></li>
				<li><a href="#">Service 2</a></li>
				<li><a href="#">Service 3</a></li>
			</ul>
		</div> <!-- end oneThirdCol -->
		<div id="col3" class="oneThirdCol lastCol">
			<img src="img/service3BW.png" alt="" class="fl">
			<h3>We're always open</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eum eius ad eos deleniti, dignissimos suscipit nobis dolore quia illum cumque molestias odit, sunt reiciendis fugit esse libero. Quod, omnis!</p>
			<ul class="homePageArrowList">
				<li><a href="#">Service 1</a></li>
				<li><a href="#">Service 2</a></li>
				<li><a href="#">Service 3</a></li>
			</ul>
		</div> <!-- end oneThirdCol -->
	</div> <!-- end centerContainer -->
</div> <!-- end servicesContainer -->


<div class="centerContainer">
	<div class="sepContainer"></div>
	<div id="leftContainer" class="fl">
		<h3 class="sectionHeading">Latest<span>News</span></h3>
		<ul id="newsList">
			<li>
				<h6>November 24, 2015</h6>
				<h3><a href="#">New Design</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil voluptatibus ad labore doloribus sint veniam obcaecati, a aliquid minus molestiae, sit eos, dolorem distinctio ipsum maiores fuga perferendis illo?</p>
				<a href="#" class="readMoreLink">Read more</a>
			</li>
			<li>
				<h6>November 24, 2015</h6>
				<h3><a href="#">New Client</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil voluptatibus ad labore doloribus sint veniam obcaecati, a aliquid minus molestiae, sit eos, dolorem distinctio ipsum maiores fuga perferendis illo?</p>
				<a href="#" class="readMoreLink">Read more</a>
			</li>
			<li>
				<h6>November 24, 2015</h6>
				<h3><a href="#">New Service</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil voluptatibus ad labore doloribus sint veniam obcaecati, a aliquid minus molestiae, sit eos, dolorem distinctio ipsum maiores fuga perferendis illo?</p>
				<a href="#" class="readMoreLink">Read more</a>
			</li>
		</ul>

	</div> <!-- end leftContainer -->


	<div id="rightContainer" class="fr">
		<h3 class="sectionHeading">About<span>The Company</span></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum incidunt saepe officia dolorum, at quod maiores harum nobis velit cum. Error similique est, nobis maxime quis nam placeat praesentium labore.</p>
		<blockquote>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quaerat unde, pariatur minus fugit nostrum magni beatae provident eius assumenda esse. Cumque rerum excepturi odit nulla perferendis natus animi totam.</p>
			<p>Keep up the good work!</p>
		</blockquote>
		
		<p>Cumque rerum excepturi odit nulla perferendis natus animi totam.</p>
		
		<p>Cumque rerum excepturi odit nulla perferendis natus animi totam.</p>

		<p><strong>Here's some of our most satisfied customers</strong></p>

		<div id="clientListContainer">
			<ul id="clientList">
				<li>
					<p><a href="#"><img src="img/clients/clientLogo1.png" alt=""></a></p>
				</li>
				<li>
					<p><a href="#"><img src="img/clients/clientLogo2.png" alt=""></a></p>
				</li>
				<li>
					<p><a href="#"><img src="img/clients/clientLogo3.png" alt=""></a></p>
				</li>
				<li>
					<p><a href="#"><img src="img/clients/clientLogo1.png" alt=""></a></p>
				</li>
				<li>
					<p><a href="#"><img src="img/clients/clientLogo2.png" alt=""></a></p>
				</li>
				<li>
					<p><a href="#"><img src="img/clients/clientLogo3.png" alt=""></a></p>
				</li>
				<li>
					<p><a href="#"><img src="img/clients/clientLogo1.png" alt=""></a></p>
				</li>
				<li>
					<p><a href="#"><img src="img/clients/clientLogo2.png" alt=""></a></p>
				</li>
			</ul>
		</div>
	</div> <!-- end rightContainer -->
</div> <!-- end centerContainer -->