<div class="blankSeparator"></div>

<div class="centerContainer">
	<div id="sidebarContainer" class="fl">
		<div class="sidebarItem">
			<div class="sidebarHeader">
				<h3>What We Offer!</h3>
			</div>
			<ul class="arrowList">
				<li class="activeSidebarItem"><a href="#">Overview</a></li>
				<li><a href="#">Video and Audio</a></li>
				<li><a href="#">Another Great Service</a></li>
				<li><a href="#">E-Commerce Platform</a></li>
				<li class="noBottomBorder"><a href="#">Giant codex</a></li>
			</ul>
		</div>
	</div> <!-- end sidebarContainer -->


	<div id="mainContainer" class="fr">
		<img src="img/servicesPageImg.png" alt="Services">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sunt earum deserunt beatae veniam laborum architecto culpa, reiciendis dicta quam, iusto et nesciunt. Quaerat saepe consectetur esse similique deleniti eveniet!</p>
		
		<div class="sepContainer"></div>

		<ul id="serviceList">
			<li>
				<img src="img/serviceImg1.png" alt="" class="fl">
				<h3>Service1</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis perferendis magni officiis eius quos harum tenetur, dolores reiciendis quae repellat, aut. Aspernatur ratione doloribus placeat earum dolorem, laboriosam blanditiis debitis.</p>
				<a href="#" class="readMoreLink">Read more about this service</a>
			</li>
			<li>
				<img src="img/serviceImg2.png" alt="" class="fl">
				<h3>Service2</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse pariatur provident aperiam fugiat adipisci corrupti nesciunt sint minus quod, magnam, doloribus sequi, accusantium consequuntur inventore culpa earum laborum. Fugit, illo.</p>
				<a href="#" class="readMoreLink">Read more about this service</a>
			</li>
			<li>
				<img src="img/serviceImg3.png" alt="" class="fl">
				<h3>Service3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perspiciatis voluptas dolores doloremque assumenda libero numquam? Praesentium distinctio vero, pariatur tempore voluptas dicta magnam assumenda tenetur asperiores deserunt alias, culpa.</p>
				<a href="#" class="readMoreLink">Read more about this service</a>
			</li>
		</ul>
	</div> <!-- end mainContainer -->
</div> <!-- end centerContainer -->

<div class="blankSeparator"></div>
